* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
img {
    max-width: 100%;
}


.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    .container-wrapper-top{
        background-color: #E5E5E5;
        height: 50px;
        width: 100%;
        .header-container{
            padding-top: 17px;
            .header-menu-one{
                align-items: center;
                display: flex;
                justify-content: center;
                .header-menu{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    text-decoration: none;
                    color: #333;
                    padding: 0 15px;
                }
            }
        }
        
    }
    .container-wrapper-middle{
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid #EFEFEF;
        .header-beauty{
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo-title{
                    padding-left: 20px;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 42px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #66C05D;
                }        
            }
            .header-tel{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .header-contacts-value{
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000;
                    padding-right: 40px;
                }
                .tel{
                    padding: 12px 27px;
                    font-size: 14px;
                    line-height: 16px;
                    text-decoration: none;
                    color: #000;
                    border: 2px solid #66C05D;
                    border-radius: 40px;
                    &:hover{
                        color: #fff;
                        background-color: #66C05D;
                    }
                }
            }
        }
    }
    .container-wrapper-bottom{
        width: 100%;
        background-color: #fff;
        .header-menu-two-button{
            display: none;
        }
        .header-menu-two{
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            .header-menu{
                font-size: 14px;
                line-height: 16px;
                text-decoration: none;
                color: #000;
                margin: 0 20px;
                padding-bottom: 2px;
                &:hover{
                    border-bottom: 1px solid #000;
                }
            }
        }
    }
}

.hero{
    background-image: url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 604px;
        .hero-title{
            font-weight: 600;
            font-size: 48px;
            line-height: 56px;
            color: #fff;
        }
        .hero-descr{
            padding: 50px 0;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
        }
        .more{
            padding: 12px 27px;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
            color: #fff;
            letter-spacing: 0.05em;
            border: 2px solid #fff;
            border-radius: 40px;
            &:hover{
                color: #66C05D;
                background-color: #fff;

            }
        }
        
    }
}

.company{
    background-color: #EFEFEF;
    .container{
        padding-top: 80px;
        padding-bottom: 133px;
        min-height: 954px;
        display: flex;
        flex-direction: column;  
        justify-content: space-around;
    }
    .title-sentence{
        padding-bottom: 38px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #000;
    }
    .block-product{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .product{
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 255px;
            height: 363px;
            background-color: #fff;
            img{
                
                width: 125px;
                height: 166px;
            }
            .description{
                padding-top: 20px;
                font-size: 14px;
                line-height: 20px;
                color: #333;
            }
            .price{
                padding: 20px 0;
                font-weight: 500;
                font-size: 21px;
                line-height: 25px;
                letter-spacing: 0.05em;
                color: #000;
            }
            .buy{
                padding: 9px 40px;
                color: #fff;
                font-size: 14px;
                line-height: 16px;
                text-decoration: none;
                letter-spacing: 0.05em;
                background-color: #66C05D;
                border-radius: 40px;
                &:hover{
                    color: #000;
                    background-color: #fff;
                    border: 2px solid #66C05D;
                    border-radius: 40px;
                }
            }
        }
    }
    .block-mail{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        .malling-one{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 48%;
            height: 212px;
            background-color: #66C05D;
            .bonus{
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #fff;
            }
            .bonus-description{
                padding: 25px 0;
                font-size: 14px;
                line-height: 20px;
                color: #fff;
            }
            .subcribe{
                textarea{
                    outline: none;
                    resize: none;
                    border: none;
                    border-radius: 40px;
                    width: 225px;
                    height: 35px;
                    line-height: 35px;
                    padding-left: 25px;
                }
            }

        }
        .malling-two{
            padding: 35px;
            width: 48%;
            height: 212px;
            background-color: #66C05D;
            .come{
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #fff;

            }
            .come-descr{
                padding: 25px 0;
                font-size: 14px;
                line-height: 20px;
                color: #fff;
            }
            .map{
                padding: 9px 29px;
                font-size: 14px;
                line-height: 16px;
                text-decoration: none;
                color: #fff;
                border: 2px solid #fff;
                border-radius: 40px;
                &:hover{
                    color: #66C05D;
                    background-color: #fff;
    
                }
            }
        }
    }
}

.footer-top{
    background-color: #fff;
    height: 120px;
    width: 100%;
    .container{
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item{
            .social{
                width: 228px;
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                .social-item{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid #66C05D;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    .social-link{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        
                    }
                }
            } 
        }
        .address{
            .footer-adress{
                font-size: 14px;
                line-height: 16px;
                color: #000;
                text-decoration: none;
            }
        }
        .footer-tel{
            display: flex;
                justify-content: space-between;
                align-items: center;
                .header-contacts-value{
                    text-decoration: none;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000;
                    padding-right: 40px;
                }
                .tel{
                    padding: 12px 27px;
                    font-size: 14px;
                    line-height: 16px;
                    text-decoration: none;
                    color: #000;
                    border: 2px solid #66C05D;
                    border-radius: 40px;
                    &:hover{
                        color: #fff;
                        background-color: #66C05D;
                    }
                }
        }

    }
}
.footer-bottom{
    background-color: #E5E5E5;
    height: 64px;
    width: 100%;
    .footer-b{
        display: flex;
        height: 64px;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        line-height: 14px;
        color: #828282;
    }
}

@media (max-width: 1116px){
    .company .block-product {
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        
        .product{
            margin-bottom: 30px;  
            width: 34%;
                
        }
        
    }
}

@media (max-width: 1000px){
    .company .block-mail .malling-one{
        img{
            display: none;
        }
    }

}

@media (max-width: 900px){
    .footer-top{
        height: 170px;
        display: flex;
        align-items: center;
        .container{
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
    .footer-bottom{
        height: 70px;
        .footer-b{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            
        }
    }

}

@media (max-width: 662px){
    .header .container-wrapper-middle .header-beauty .header-tel {
        flex-direction: column;
        align-items: center;
        .header-contacts-value{
            padding-right: 0;
            padding-bottom: 15px;
        }
    }
    .header .container-wrapper-middle .header-beauty .header-tel {
        display: none;
    }
    .header .container-wrapper-bottom .header-menu-two-button {
        display: flex;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        .header-tel{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-contacts-value{
                text-decoration: none;
                font-size: 16px;
                line-height: 19px;
                color: #000;
                padding-right: 40px;
            }
            .tel{
                padding: 12px 27px;
                font-size: 14px;
                line-height: 16px;
                text-decoration: none;
                color: #000;
                border: 2px solid #66C05D;
                border-radius: 40px;
                &:hover{
                    color: #fff;
                    background-color: #66C05D;
                }
            }
        }

        .header-menu-button{
            display: flex;
        justify-content: end;
        align-items: center;
        height: 70px;
        background-color: #fff;
        
        #menu__toggle {
            opacity: 0;
        }
        .menu__btn {
            display: flex; /* используем flex для центрирования содержимого */
            align-items: center;  /* центрируем содержимое кнопки */
            justify-content: center;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            cursor: pointer;
            z-index: 1;
            background-color: #66C05D;
        }
        /* добавляем "гамбургер" */
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
            
            display: block;
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: #fff;
        }
        .menu__btn > span::before {
            content: '';
            top: -8px;
        }
        .menu__btn > span::after {
            content: '';
            top: 8px;
        }
        /* контейнер меню */
        .menu__box {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 170px;
            width: 200px;
            height: 100%;
            
            padding: 80px 0;
            list-style: none;
            text-align: center;
            background-color: #E5E5E5;
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        }
        /* элементы меню */
        .menu__item {
            display: block;
            padding: 12px 24px;
            color: #000;
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;
        }
        .menu__item:hover {
            background-color: #66C05D;
            color: #fff;
        }
        #menu__toggle:checked ~ .menu__btn{
            background-color: #E5E5E5;
        }
        #menu__toggle:checked ~ .menu__btn > span {
            transform: rotate(45deg);
            background-color: #000;
        }
        #menu__toggle:checked ~ .menu__btn > span::before {
            top: 0;
            transform: rotate(0);
            background-color: #000;
        }
        #menu__toggle:checked ~ .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
            background-color: #000;
        }
        #menu__toggle:checked ~ .menu__box {
            visibility: visible;
            right: 0;
        }
        }
        

    }
    .header {
        .container-wrapper-bottom{
            .header-menu-two {
                display: none;
            }
        }
    }
    .company .block-mail {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        .malling-one{
            width: 90%;
            margin-bottom: 30px;
        }
        .malling-two{
            width: 90%;
        }
    }
}
@media (max-width: 518px){
    .company .block-product {
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        
        .product{
            margin-bottom: 30px;  
            width: 255px;
                
        }
        
    }
    .header{
        .container-wrapper-bottom .header-menu-two-button .header-menu-button {
            .menu__box{
                top: 120px;
            }
        }
        .container-wrapper-top{
            display: none;
            background-color: #E5E5E5;
            height: 70px;
            width: 100%;

            
        }
    }

}

@media (max-width: 350px){
    .company .block-mail{

        .malling-one {
            display: block;
            padding: 35px;
            height: 242px;
            .bonus{
                font-weight: 600;
                font-size: 18px;
                line-height: 21px;
                color: #fff;
            }
            .bonus-description{
                padding: 20px 0;
                font-size: 14px;
                line-height: 20px;
                color: #fff;
            }
            .subcribe{
                textarea{
                    outline: none;
                    resize: none;
                    border: none;
                    border-radius: 40px;
                    width: 200px;
                    height: 35px;
                    line-height: 35px;
                    padding-left: 25px;
                }
            }
        }
    }
    .footer-top .container .footer-tel .header-contacts-value {
        display: none;
    }
}